@font-face {
  font-family: 'Oswald';
  src: url('./fonts/Oswald-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #222;
  font-size: 2rem;
  font-family: Oswald;
  color: #FFF;
  margin: 30px;
}